<!--검색 완료 결과 페이지-->

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/search.css" >
    </head>
    
    
   <body>
        <div class="container">
            
           
           <div class="search_result">
               <h3>검색 결과</h3>
                <% if @search_dongari.nil? %>
                <p>동아리 검색 결과가 없습니다. 그런 동아리 없어!.</p>
                <% else %>
                    <% @search_dongari.each do |dongAri| %>
                        <div class="dongAri">
                            <div class="s_info col-lg-8 col-xs-12 align-middle">
                                <hr>
                                <h1 class="dname" ><%= dongAri.name %></h1>
                                <h2 class="details" style="color:#696969;">#<%= dongAri.details %></h2>
                                <h3 class='host'>host : <%= dongAri.host %></h3>
                                <hr>
                             </div>
                        </div>
                    <% end %>
                <% end %>
                <hr>
            </div>
        </div>
    </body>
    
</html>

