 <link rel=“stylesheet” href=“index.css” type=“text/css”>
 <div class = "my-auto" id="login">
                <div>
                    <h2>SIGNUP</h2><br>
                        <form>
                            <h3>이름</h3>
                            <input type="name">
                            <h3>닉네임</h3>
                            <input type="nickname">
                            <h3>이메일</h3>
                            <input type="email">
                            <h3>비밀번호</h3>
                            <input type="password">
                            <h3>비밀번호확인</h3>
                            <input type="passwordcheck">
                            <br><br>
                            <input type="submit" value="확인" class="submit">
                           <input type="submit" value="뒤로가기" class="submit">
                            
                        </form>
                </div>
            </div>
</div>
