 <link rel=“stylesheet” href=“index.css” type=“text/css”>
 <div class = "my-auto" id="login">
                <div>
                    <h2>LOGIN</h2><br>
                        <form>
                            <h3>이메일</h3>
                            <input type="email">
                            <h3>비밀번호</h3>
                            <input type="password"><br><br>
                            <input type="submit" value="로그인" class="submit">
                            <a href="/home/signup"><input type="submit" value="회원가입" class="submit1"></a>
                            
                            
                        </form>
                </div>
            </div>
</div>
