<!DOCTYPE html>
<html>
<head>
  
 
  
  <title>Workspace</title>
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
<title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/agency.min.css" rel="stylesheet">

</head>
<body>
 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
<<<<<<< HEAD
        <a class="navbar-brand js-scroll-trigger" href="/">로고(메인)</a>
=======
<<<<<<< HEAD
        <a class="navbar-brand js-scroll-trigger" ><a href="#page-top" ><img src ="final.jpg" width="180px" height="75px"/></a>
=======
        <a class="navbar-brand js-scroll-trigger" href="#page-top">로고(메인)</a>
>>>>>>> 5359111c004395d6f389b5cb761940b4eaa8d914
         <!--검색-->
      <form class="form-inline" action="/home/search" method="get">
        <label><h2>검색 &nbsp</h2></label>
        <input class="form-control mr-sm-2" type="search" placeholder="검색해봐요" aria-label="Search" name="search_info">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      
        
>>>>>>> 8850971aafad58bce7f3e4a571bf25780553772f
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/home/mypage">마이 페이지</a>
            </li>
            <li class="nav-item">
              <% if current_user.nil? %>
              <a class="nav-link js-scroll-trigger" href="/users/sign_in">로그인</a>
              <% else %>
              <a class="nav-link js-scroll-trigger" href="/users/sign_out">로그아웃</a>
              <% end %> 
            </li>
          </ul>
        </div>
      </div>
    </nav>


<%= yield %>

</body>
</html>
